<!DOCTYPE html>
<!-- suppress ThymeleafVariablesResolveInspection -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>OAuth login</title>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="application/javascript">
        $('#btnLogin').click(function () {
            $.ajax({
                type
            });
        });
    </script>
</head>
<body>
    ID : <input type="text" placeholder="ID"/><br/>
    PW : <input type="password" placeholder="PASSWORD"/><br/>
    <button id="btnLogin" type="button">로그인</button>
</div>

</body>
</html>